header {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 14px;
    justify-content: space-between;
    background-color: #1C1C1C;
    height: 72px;
}
.img-1 {
    margin-top: 10px;
    margin-left: 147px;
    width: 119px;
    height: 52px;
}
.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    

}
// dizainas
.topnav a {
    margin-right: 50px;
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
// Keis spalvas
.topnav a:hover{
    border-bottom: 3px solid #E27866;
}
.topnav .icon {
    display: none;
}